<div class="panel panel-default">
	<div class="panel-body">
		<ul class="menu">
			<li>No of tweets with only images: <%= @content[0] %></li>
			<li>No of tweets with only text: <%= @content[1] %></li>
			<li>No of tweets with only both images and text: <%= @content[2] %></li>
		</ul>
	</div>
</div>