<div class="panel panel-default">
	<div class="panel-body">
		<ul class="menu">
			<li>Total number of mentions of Narendra Modi in Delhi: <%= @content[7] %></li>
			<li>Total number of mentions of Arvind Kejriwal in Delhi: <%= @content[8] %></li>
		</ul>
	</div>
</div>